.container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;

  .social {
    display: flex;
    gap: 10px;
    flex: 1;

    @media screen and (max-width: 1024px) {
      display: none;
    }
  }
  .logo {
    flex: 1;
    text-align: center;
    font-size: 30px;
    font-weight: bold;

    @media screen and (max-width: 1280px) {
      font-size: 32px;
    }
    @media screen and (max-width: 1024px) {
      text-align: left;
    }

    @media screen and (max-width: 768px) {
      font-size: 24px;
    }
  }
  .links {
    display: flex;
    gap: 20px;
    flex: 1;
    font-size: 18px;
    display: flex;
    align-items: center;

    @media screen and (max-width: 1280px) {
      font-size: 18px;
      gap: 15px;
    }
    @media screen and (max-width: 640px) {
      justify-content: flex-end;
    }

    .link {
      @media screen and (max-width: 640px) {
        display: none;
      }
    }
  }
}
